<div class="container ">
  <div class="row input-div">
    <div class="col-7" style="padding-left: 0px;padding-right: 0px;">
      <input type="text" class="todo-input" placeholder="What needs to be done" [(ngModel)]="todoTitle">
    </div>
    <div class="col-1"></div>
    <div class="col-4" style="padding-left: 0px;padding-right: 0px;">
      <button (click)="addTodo()" class="btn add-btn" [disabled]="disableBtn()">add to do</button>
    </div>
  </div>

  <div class="row ">
    <div class="todo-item col-12" *ngFor="let todo of todoListProvider.TodoData">
      <div class="row row-div">
        <div class="todo-item-left col-9">
          <div class="todo-item-label" *ngIf="!todo.editing; else editingTodo">{{ todo.title }}</div>
          <ng-template #editingTodo>

            <input type="text" class="todo-item-edit" [(ngModel)]="todo.title" (blur)="doneEdit(todo)"
              (keyup.enter)="doneEdit(todo)" (keyup.esc)="cancelEdit(todo)" autofocus>
          </ng-template>

        </div>
        <div class="col-3">
          <div class="row row-div">
            <div class="remove-item col-6" *ngIf="!todo.editing" (click)="editTodo(todo)" title="edit todo">
              <img src="https://img.icons8.com/material/24/000000/edit--v3.png">
            </div>
            <div class="remove-item col-6" *ngIf="todo.editing" (click)="doneEdit(todo)" 
            title="done edit">
              <img src="https://img.icons8.com/metro/26/000000/checkmark.png">
            </div>
            <div class="remove-item col-6" *ngIf="!todo.editing" (click)="deleteTodo(todo.id)"
            title="delete todo">
              <img src="https://img.icons8.com/material/24/000000/close-window--v1.png">
            </div>
            <div class="remove-item col-6" *ngIf="todo.editing" (click)="cancelEdit(todo)" title="cancle edit">
                <img src="https://img.icons8.com/material/24/000000/close-window--v1.png">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>