input {

  &:focus {
    outline: 0;
  }
}


.register-btn {
  width: 100%;
  background-color: #4eaf4c;
  border: 1px solid #4eaf4c;
  height: 53px;
  border-radius: 50px;
  font-size: 20px;

  &:hover {
    background-color: #166415;
    border: 1px solid #166415;
    cursor: pointer;
  }
}


.row-form {
  width: 70%;

  @media screen and (max-width:767px) {
    width: 100%;
  }
}

.addPhot {
  width: 129px;
  height: 129px;
  margin-left: 36%;
  border: 1px solid #EEF;
  border-radius: 50%;
  padding-top: 38px;

  &:hover {
    cursor: pointer;
  }
}
